/* Header Formatting */

#main > header {
		padding: 9em 0 31em 0 ;
		background-image: url("../../images/sae-competition-2024-team-photo-original.jpg");
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
	}

#main .big-header {
    font-size: 2.25em;
	color: #000;
}




